---
// pages/login.astro

import { auth } from "@packages/auth";
import Layout from "../layouts/Layout.astro";

const authRequest = auth.handleRequest(Astro);

// redirect to profile page if authenticated
const session = await authRequest.validate();
if (session) return Astro.redirect("/", 302);

if (Astro.request.method === "POST") {
  // csrf check
  const requestOrigin = Astro.request.headers.get("origin");
  const isValidRequest = !!requestOrigin && requestOrigin === Astro.url.origin;
  if (!isValidRequest) {
    return new Response(null, {
      status: 403,
    });
  }
  const form = await Astro.request.formData();
  const username = form.get("username");
  const password = form.get("password");
  if (typeof username === "string" && typeof password === "string") {
    try {
      const key = await auth.useKey("username", username, password);
      const session = await auth.createSession(key.userId);
      authRequest.setSession(session);
      return Astro.redirect("/profile", 302); // redirect on successful attempt
    } catch (err) {
      // invalid password
      Astro.response.status = 400;
    }
  } else {
    Astro.response.status = 400;
  }
}
---

<Layout title='Log in'>
  <h1>Sign in</h1>
  <form method='post'>
    <label for='username'>username</label><br />
    <input id='username' name='username' /><br />
    <label for='password'>password</label><br />
    <input type='password' id='password' name='password' /><br />
    <input type='submit' value='Continue' class='button' />
  </form>
</Layout>
